# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local IDE metadata
.idea/
*.iml

# Ignore macOS Finder metadata
.DS_Store

# Ignore built-in server runtime database files
server/data/
